* {
    font-family: $font-family-sans-serif;
    &, :before, :after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
}

  
html, body {
    margin: 0;
    padding: 0;
}
    .text {
        &-uppercase {
            text-transform: uppercase;
        }

        &-center {
            text-align: center;
        }

        &-primary {
            color: $brand-primary;
        }

        &-secondary {
            color: $brand-secondary;
        }
    }  .emphasis {
        text-transform: uppercase;
    }

    .clearfix {
        display: inline-block;
        &:after {
            clear: both;
            content: ".";
            display: block;
            height: 0;
            visibility: hidden;
        }
    }