@media only screen /*   and (min-device-width : 320px)
    and (max-device-width : 568px) 
    and (orientation : portrait) */
{

  .App {
    &__menu {
      background-color: #FFFFFF;
      position: relative;
      height: 44px;
      background: url(../img/logo.png) center left no-repeat, #FFFFFF;
      background-size: 143px 40px;
      z-index: 1;
      box-shadow: 0px 0px 21px black;

      .App__menu_button {
        height: 100%;
        button {
          outline: none;
          float: right;
          background-color: inherit;
          border: 0 solid #FFF;
          padding: 0;
          height: 100%;
        }

        i {
          font-size: 28px;
        }
      }
    }

    &__header {
      background: url('../img/promotion.png') left center no-repeat, $brand-secondary;
      background-size: auto 115px;
      position: relative;
      height: 115px;
      margin-bottom: 10px;

      &:after {
        display: table;
        clear: both;
        content: "";
      }
    }

    &__splash {

    }

    &__bids {
      z-index: 5;
      position: absolute;
      border: 1px solid #EEEEEE;
      border-collapse: collapse;
      right: 15px;
      top: 8px;
      bottom: 8px;
      width: 80px;
      height: 100px;

      background-color: #000;
    }

    &__bids_entry {
      z-index: 6;
      border-bottom: 1px solid #EEEEEE;
      border-collapse: collapse;
      background-color: #000;
      color: #FFF;
      height: 33px;
      padding-top: 4px;

      .key {
        font-size: 9px;
      }

      .value {
        font-size: 12px;
      }
    }
  }

  h1 {
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    font-size: 18px;
    margin-top: 5px;
  }
  h3 {
    font-size: 11px;
  }

  .Auction {
    position: relative;
    margin-bottom: 10px;
    text-align: center;

    .icon-right-dir {
      margin-left: -8px;
      margin-right: -12px;
    }

    &__left {
      position: relative;
      //margin-left: 15px;
      width: 141px;
      height: 164px;
      display: inline-block;
      vertical-align: top;
      //float: left;
    }

    &__right {
      position: relative;
      width: 141px;
      height: 164px;
      display: inline-block;
      vertical-align: top;
      //float: left;
      &:after {
        display: table;
        content: "";
        clear: both;
      }
    }

    &__history {
      background-color: #FFFFFF;
      border: 1px solid #CCCCCC;
      height: inherit;
      font-size: 13px;

      ul, li {
        list-style: none;

      }
      ul {
        text-align: left;
        padding-left: 0;
        display: table;
        height: 124px;
        width: 100%;
        margin-top: 0px;
      }
      li {
        display: table-row;
        div {
          display: table-cell;
          border-top: 1px solid #CCCCCC;
          border-collapse: collapse;
          vertical-align: middle;
        }
        span.rank {
          color: #999;
          padding-left: 8px;
        }
        span.icon {
          color: #000;
          padding-left: 8px;
        }
        span.username {
          color: #000;
          padding-left: 4px;
        }
      }
      .Auction__heading {
        background-color: #999999;
        color: #FFFFFF;
      }
    }

    &__buy_it_now {
      background-color: #FFFFFF;
      border: 1px solid $brand-primary;
      color: $brand-primary;
      height: 61px;
      font-size: 13px;
      margin-bottom: 6px;
    }

    &__current_bid {
      background-color: #FFFFFF;
      border: 1px solid $brand-secondary;
      color: $brand-secondary;
      height: 97px;
      font-size: 13px;

      .Auction__heading {
        background-color: $brand-secondary;
        color: #FFFFFF;
      }

      .Auction__leader {
        color: #000000;
      }
    }

    &__btn_container {
      float: left;
    }

    &__autobid {
      height: 46px;
      //margin-left: 15px;
      width: 73px;
      font-size: 14px;
      background-color: $brand-secondary;
      color: #FFF;
      //float: left;
      border: 0 solid $brand-secondary;
      border-radius: 2px;
      vertical-align: top;
      outline: none;

      &:disabled {
        background-color: lighten($brand-secondary, 30%);
      }
    }

    &__bid {
      height: 46px;
      width: 201px;
      //float: left;
      margin-left: 8px;
      font-size: 28px;
      line-height: 28px;
      padding: 0;
      background-color: $brand-primary;
      color: #FFF;
      border: 0 solid $brand-primary;
      border-radius: 2px;
      vertical-align: top;
      outline: none;
      &:disabled {
        background-color: lighten($brand-primary, 30%);
      }
    }

    &__heading {
      padding: 0.2rem;
      margin-bottom: 0;
    }

    &__actions {
      /*background-color: #000000;
      float: left;
      position: relative;
      width: 100%;
      padding-bottom: 19px;
      text-align: center;*/
      background-color: #000000;
      position: fixed;
      padding-bottom: 19px;
      text-align: center;
      bottom: 0px;
      border: 0px;
      left: 0;
      right: 0px;
    }

    &__btn_container {
      display: inline-block;
      width: 100%;
    }

    &__grid {
      margin-top: 6px;
      margin-bottom: 6px;

      text-align: center;
    }

    &__teaser {
      font-size: 13px;
      padding-top: 12px;
      margin-bottom: -6px;
      text-align: center;
      color: white;
      height: 38px;
    }

    &__item {
      background-color: #FFFFFF;
      border: 1px solid #CCCCCC;
      color: #999999;
      height: inherit;
      font-size: 10px;
      text-align: center;
      padding-top: 10px;

      .Auction__item_name {
        font-weight: bolder;
      }

      .Auction__item_msrp {

      }

      .Auction__item_img {
        position: relative;
        width: 100%;
        padding-top: 10px;
      }
    }

    &__footer {
      height: 19px;
      position: absolute;
      clear: both;
      bottom: 0;
      border-top: 1px solid #CCCCCC;
      color: $brand-secondary;
      font-size: 12px;
      text-transform: uppercase;
      text-align: left;
      border-collapse: collapse;
      padding-top: 2px;
      width: 140px;
    }

  }

  .Grid {
    height: 85px;
    position: relative;
    width: 290px;
    display: inline-block;

    &__row:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .Block {
    float: left;
    width: 27px;
    height: 27px;
    margin: 1px;

    &:last-of-type {
      margin-bottom: 0;
      margin-right: 0;
    }

    i {
      color: #FFFFFF;

      &.icon-gift {
        font-size: 24px;
        margin-left: -3px;
        padding-top: 0px;
        line-height: 26px;
      }
      &.icon-crown {
        font-size: 25px;
        margin-left: -4px;
        padding-top: 0px;
        line-height: 34px;
      }
    }

    &__inactive {
      background-color: #999 !important;
    }
    &__future {
      background-color: $brand-secondary;
    }
    &__past {
      background-color: lighten($brand-secondary, 25%);
    }
    &__past_prize {
      background-color: $brand-primary;
    }
    &__current {
      background-color: #FFFFFF;
    }
  }
}