<style lang="scss">
</style>

<template>
    <div class="App">
        <div class="App__menu">
            <div class="App__menu_button">
                <button @click="current_user.bids.paid++"><i class="icon-dots-vertical"></i></button>
            </div>
        </div>
        <div class="App__header">

            <div class="App__splash"></div>

            <div class="App__bids text-center">

                <div class="App__bids_entry">
                    <div class="text-uppercase key">My Bids</div>
                    <div class="value">{{ current_user.bids.paid | number }}</div>
                </div>

                <div class="App__bids_entry">
                    <div class="text-uppercase key">Free Bids</div>
                    <div class="value">{{ current_user.bids.free | number }}</div>
                </div>

                <div class="App__bids_entry">
                    <div class="text-uppercase key">Points</div>
                    <div class="value">{{ current_user.points | number }}</div>
                </div>

            </div>
        </div>
        <auction v-for="auction in auctions" :current_user="current_user" :has_bids="has_bids"></auction>
    </div>
</template>

<script type="text/javascript">
    import Auction from './Auction.vue';

    export default {
        components: {Auction},
        computed: {
            auction_count: function () {
                return this.auctions;
            },
            has_bids: function() {
                return this.current_user.bids.paid + this.current_user.bids.free > 0;
            }
        },
        data() {
            return {
                current_user: {
                    id: 41,
                    name: 'ImInUrDirtz',
                    avatar: 'paw',
                    bids: {
                        paid: 4,
                        free: 26
                    },
                    points: 123456
                },
                auctions: [1]
            }
        },
        ready() {
            let random_users = [
                { id: 41, name: 'ImInUrDirtz', avatar: 'paw', bids: { paid: 4, free: 26 }, points: 6 },
                { id: 42, name: 'Overlord1', avatar: 'crown', bids: { paid: 21, free: 5 }, points: 4000 },
                { id: 43, name: 'CharlsNChrg', avatar: 'feather', bids: { paid: 30, free: 40 }, points: 9001 },
                { id: 44, name: 'Wanda', avatar: 'gift', bids: { paid: 7, free: 22 }, points: 752 },
                { id: 45, name: 'LordHamster', avatar: 'theatre', bids: { paid: 19, free: 2 }, points: 1337 }
            ];
            this.current_user = random_users[Math.floor(Math.random()*random_users.length)];
            console.log("You are now playing as " + this.current_user.name);
        }
    }
</script>