<style lang="scss">
</style>

<template>
<div class="Auction">
    <div class="Auction__left">

        <div class="Auction__history" v-show="toggle_bid_history">
            <div class="panel panel-heading text-center emphasis Auction__heading">
                Last 6 Bids
            </div>
            <ul class="list-group">
                <li class="list-group-item" v-for="user in history" track-by="$index">
                    <div><span class="rank">{{$index + 1}}</span>
                    <span class="icon icon-{{user.avatar}}"></span>
                    <span class="username">{{user.name}}</span></div>
                </li>
            </ul>
            <div class="Auction__footer" @click="toggle_bid_history = !toggle_bid_history">
                <i class="icon-left-dir">&nbsp;</i> view item
            </div>
        </div>

        <div class="Auction__item" v-show="!toggle_bid_history">
            <span class="Auction__item_name">{{item.name}}</span><br/>
            <span class="Auction__item_msrp">{{item.msrp | money}} retail price</span>
            <img class="Auction__item_img" :src="item.image" width="139" height="90">

            <div class="Auction__footer" @click="toggle_bid_history = !toggle_bid_history">
                <i class="icon-left-dir">&nbsp;</i> view bid history
            </div>
        </div>
    </div><span style="font-size: 20px"> </span><div class="Auction__right">

        <div v-if="!purchased" class="Auction__buy_it_now text-center" @click="purchase()">
            <h2 class="text-primary emphasis">Buy It Now <i class="icon-right-dir"></i></h2>
            <p class="text-primary emphasis" style="margin-top:-10px; font-size: 10px;">Receive 50 Free Bids<br />By Purchasing This Item</p>
        </div>

        <div v-if="purchased" class="Auction__buy_it_now text-center">
            <h2 class="text-primary emphasis">Buy It Now <i class="icon-right-dir"></i></h2>
            <p class="text-primary emphasis" style="margin-top:-10px; font-size: 10px;">Thank you for your purchase!</p>
        </div>

        <div class="Auction__current_bid">
            <div class="text-center emphasis Auction__heading">
                Current Bid
            </div>
            <div class="panel-body">
                <h1 class="text-primary text-center">{{current_price | money}}</h1>
                <p class="text-center Auction__leader"><i class="icon-{{leader.avatar}}"></i>&nbsp;{{leader.name}}</p>
            </div>
        </div>
    </div>

    <div class="Auction__grid">
        <grid :bids="bids" :is_active="leader.id==current_user.id" :auction="id" :prizes="prizes"></grid>
    </div>

    <div class="Auction__actions">
        <div class="text-center Auction__teaser">
            Keep playing to be eligible to win progressives!
        </div>
        <div class="Auction__btn_container">
            <button type="button" @click="placeBid()" class="Auction__autobid emphasis" :disabled="!has_bids">Auto<br/>Bid</button>
            <button type="button" @click="placeBid()" class="Auction__bid emphasis" :disabled="!has_bids">
                Bid&nbsp;Now <i class="icon-arrows-cw"></i></button>
        </div>
    </div>
</div>
</template>

<script type="text/javascript">
    import Grid from './Grid.vue'
    export default {
        methods: {
            placeBid() {
                let success = false;
                if(this.current_user.bids.free > 0) {
                    success = true;
                    this.current_user.bids.free--;
                }
                else if(this.current_user.bids.paid > 0) {
                    success = true;
                    this.current_user.bids.paid--;
                }
                if(success) {
                    this.bids++;
                    this.leader = this.current_user;
                    this.addToHistory(this.current_user);
                }
            },
            addToHistory(obj) {
                this.history.unshift(obj);
                if (this.history.length > 6) {
                    this.history.pop();
                }
            },
            purchase() {
                this.current_user.bids.free += 50;
                this.purchased = true;
            }
        },
        computed: {
            current_price: function () {
                return 1 + Math.floor(this.bids / 10);
            }
        },
        components: { Grid },
        props: ['current_user', 'has_bids'],
        data() {
            return {
                toggle_bid_history: true,
                purchased: false,
                id: 200,
                leader: {
                    id: 40,
                    name: 'LordHamster',
                    avatar: 'theatre'
                },
                bids: 9,
                item: {
                    image: '/img/auction_1.jpg',
                    name: '14 Piece Deluxe Grill Set',
                    msrp: 5750
                },
                prizes: {
                    13: 'bidpack',
                    18: 'bidpack',
                    22: 'item',
                    39: 'bidpack',
                    41: 'item',
                    58: 'bidpack'
                },
                history: [
                    {id: 40, name: 'LordHamster', avatar: 'theatre'},
                    {id: 41, name: 'CharlsNChrg', avatar: 'feather'},
                    {id: 41, name: 'CharlsNChrg', avatar: 'feather'},
                    {id: 42, name: 'Overlord1', avatar: 'crown'},
                    {id: 43, name: 'CharlsNChrg', avatar: 'feather'},
                    {id: 40, name: 'LordHamster', avatar: 'theatre'}
                ]
            }
        }
    }
</script>