<template>
    <div :class="block" class="Block"><i :class="prize_class" v-if="is_active_bidder">&nbsp;</i>&nbsp;</div>
</template>
<style lang="scss">
</style>
<script>
    export default {
        props: ['current_bid', 'bid_number', 'prize', 'is_active_bidder'],
        computed: {
            block: function() {
                if(!this.is_active_bidder) {
                    return 'Block__inactive';
                }
                if(this.current_bid < this.bid_number) {
                    return 'Block__future';
                }
                if(this.current_bid == this.bid_number) {
                    return 'Block__current';
                }
                if(this.prize !== null && this.prize !== undefined) {
                    return 'Block__past_prize';
                }
                return 'Block__past';
            },
            prize_class: function() {
                if(this.prize === 'item') {
                    return 'icon-gift';
                }
                if(this.prize === 'bidpack') {
                    return 'icon-crown';
                }
                return '';
            }
        },
        data() {
            return {

            }
        }
    }
</script>
