<style lang="scss">
</style>

<template>
    <div class="Grid">
        <div class="Grid__row">
            <block :bid_number="bid(row + 1, 0)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 1, 0))">&nbsp;</block>
            <block :bid_number="bid(row + 1, 1)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 1, 1))">&nbsp;</block>
            <block :bid_number="bid(row + 1, 2)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 1, 2))">&nbsp;</block>
            <block :bid_number="bid(row + 1, 3)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 1, 3))">&nbsp;</block>
            <block :bid_number="bid(row + 1, 4)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 1, 4))">&nbsp;</block>
            <block :bid_number="bid(row + 1, 5)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 1, 5))">&nbsp;</block>
            <block :bid_number="bid(row + 1, 6)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 1, 6))">&nbsp;</block>
            <block :bid_number="bid(row + 1, 7)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 1, 7))">&nbsp;</block>
            <block :bid_number="bid(row + 1, 8)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 1, 8))">&nbsp;</block>
            <block :bid_number="bid(row + 1, 9)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 1, 9))">&nbsp;</block>
        </div>
        <div class="Grid__row">
            <block :bid_number="bid(row + 0, 0)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 0, 0))">&nbsp;</block>
            <block :bid_number="bid(row + 0, 1)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 0, 1))">&nbsp;</block>
            <block :bid_number="bid(row + 0, 2)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 0, 2))">&nbsp;</block>
            <block :bid_number="bid(row + 0, 3)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 0, 3))">&nbsp;</block>
            <block :bid_number="bid(row + 0, 4)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 0, 4))">&nbsp;</block>
            <block :bid_number="bid(row + 0, 5)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 0, 5))">&nbsp;</block>
            <block :bid_number="bid(row + 0, 6)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 0, 6))">&nbsp;</block>
            <block :bid_number="bid(row + 0, 7)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 0, 7))">&nbsp;</block>
            <block :bid_number="bid(row + 0, 8)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 0, 8))">&nbsp;</block>
            <block :bid_number="bid(row + 0, 9)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row + 0, 9))">&nbsp;</block>
        </div>
        <div class="Grid__row">
            <block :bid_number="bid(row - 1, 0)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row - 1, 0))">&nbsp;</block>
            <block :bid_number="bid(row - 1, 1)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row - 1, 1))">&nbsp;</block>
            <block :bid_number="bid(row - 1, 2)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row - 1, 2))">&nbsp;</block>
            <block :bid_number="bid(row - 1, 3)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row - 1, 3))">&nbsp;</block>
            <block :bid_number="bid(row - 1, 4)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row - 1, 4))">&nbsp;</block>
            <block :bid_number="bid(row - 1, 5)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row - 1, 5))">&nbsp;</block>
            <block :bid_number="bid(row - 1, 6)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row - 1, 6))">&nbsp;</block>
            <block :bid_number="bid(row - 1, 7)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row - 1, 7))">&nbsp;</block>
            <block :bid_number="bid(row - 1, 8)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row - 1, 8))">&nbsp;</block>
            <block :bid_number="bid(row - 1, 9)" :current_bid="bids" :is_active_bidder="is_active" :prize="prize(bid(row - 1, 9))">&nbsp;</block>
        </div>
    </div>
</template>

<script type="text/javascript">
    import Block from './Block.vue'
    export default {
        methods: {
            bid: function(row, counter) {
                return (row * 10) + counter;
            },
            prize: function(bid_number) {
                if(typeof this.prizes[bid_number] !== 'undefined') {
                    return this.prizes[bid_number];
                }
                return null;
            }
        },
        computed: {
            row: function() {
                return Math.floor(this.bids / 10);
            }
        },
        props: ['bids', 'auction', 'is_active', 'prizes'],
        components: {Block},
        data() {
            return {

            }
        }
    }
</script>