
.icon-crown:before { content: '\e800'; } /* '' */
.icon-gift:before { content: '\e801'; } /* '' */
.icon-right-dir:before { content: '\e802'; } /* '' */
.icon-left-dir:before { content: '\e803'; } /* '' */
.icon-arrows-cw:before { content: '\e804'; } /* '' */
.icon-paw:before { content: '\e805'; } /* '' */
.icon-twitter-bird:before { content: '\e806'; } /* '' */
.icon-wine:before { content: '\e807'; } /* '' */
.icon-theatre:before { content: '\e808'; } /* '' */
.icon-feather:before { content: '\e809'; } /* '' */
.icon-dot-3:before { content: '\e80a'; } /* '' */