@font-face {
  font-family: 'ignite';
  src: url('../font/ignite.eot?38272540');
  src: url('../font/ignite.eot?38272540#iefix') format('embedded-opentype'),
       url('../font/ignite.woff2?38272540') format('woff2'),
       url('../font/ignite.woff?38272540') format('woff'),
       url('../font/ignite.ttf?38272540') format('truetype'),
       url('../font/ignite.svg?38272540#ignite') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ignite';
    src: url('../font/ignite.svg?38272540#ignite') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ignite";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-crown:before { content: '\e800'; } /* '' */
.icon-gift:before { content: '\e801'; } /* '' */
.icon-right-dir:before { content: '\e802'; } /* '' */
.icon-left-dir:before { content: '\e803'; } /* '' */
.icon-arrows-cw:before { content: '\e804'; } /* '' */
.icon-paw:before { content: '\e805'; } /* '' */
.icon-twitter-bird:before { content: '\e806'; } /* '' */
.icon-wine:before { content: '\e807'; } /* '' */
.icon-theatre:before { content: '\e808'; } /* '' */
.icon-feather:before { content: '\e809'; } /* '' */
.icon-dots:before { content: '\e80a'; } /* '' */
.icon-dots-vertical:before { content: '\e80a';-moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } /* '' */