$brand-primary: #E7772F;
$brand-secondary: #2083E0;

$font-family-sans-serif: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

$panel-border-radius: 0px;

$panel-default-heading-bg: #ddd;

$grid-columns: 10;