$body-font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$callout-background-fade: 0%;
$foundation-palette: (
  primary: #E7772F,
  secondary: #2083E0,
  muted: $dark-gray
);

$behavior: 'collapse';

$button-radius: 2px;

$grid-column-gutter: (
    small: 1px,
    medium: 6px,
    large: 9px
);