// Helper classes
.emphasis {
    text-transform: uppercase;
}

// Add secondary brand
$brand-secondary:               #2083E0 !default;

$btn-secondary-color:           #fff !default;
$btn-secondary-bg:              $brand-secondary !default;
$btn-secondary-border:          darken($btn-secondary-bg, 5%) !default;

$state-secondary-text:          #fff !default;
$state-secondary-bg:            #2083E0 !default;
$state-secondary-border:        darken(adjust-hue($state-secondary-bg, -10), 5%) !default;

$label-secondary-bg:            $brand-secondary !default;

$alert-secondary-bg:            $state-secondary-bg !default;
$alert-secondary-text:          $state-secondary-text !default;
$alert-secondary-border:        $state-secondary-border !default;

$progress-bar-secondary-bg:     $brand-secondary !default;

$panel-secondary-text:          $state-secondary-text !default;
$panel-secondary-border:        $state-secondary-border !default;
$panel-secondary-heading-bg:    $state-secondary-bg !default;

.alert-secondary {
  @include alert-variant($alert-secondary-bg, $alert-secondary-border, $alert-secondary-text);
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.has-secondary {
  @include form-control-validation($state-secondary-text, $state-secondary-text, $state-secondary-bg);
}
.label-secondary {
  @include label-variant($label-secondary-bg);
}
@include list-group-item-variant(secondary, $state-secondary-bg, $state-secondary-text);

.panel-secondary {
  @include panel-variant($panel-secondary-border, $panel-secondary-text, $panel-secondary-heading-bg, $panel-secondary-border);
}

.progress-bar-secondary {
  @include progress-bar-variant($progress-bar-secondary-bg);
}

@include table-row-variant('secondary', $state-secondary-bg);
@include text-emphasis-variant('.text-secondary', $state-secondary-text);
@include bg-variant('.bg-secondary', $state-secondary-bg);
